
@font-face {
    font-family: ArcadeN ;                          
    src: url(../fonts/ARCADE_N.TTF);               
  }    
  
  @font-face {
    font-family: ArcadeR ;                          
    src: url(../fonts/ARCADE_R.TTF);               
  }   

  @font-face {
      font-family: ArcadeI;
      src: url(../fonts/ARCADE_I.TTF);
  }



body{
    background-image: url("../img/Login.jpg");
}

h2{
background-color: #FEFFED;
padding: 30px 35px;
margin: -10px -50px;
text-align:center;
border-radius: 10px 10px 0 0;
font-family: ArcadeR;
}

body div div form{
    padding-top: 3em;
}

div.container{
display: flex;
justify-content: center;
margin:60px auto;
}

div.main{
width: 300px;
padding: 10px 50px 25px;
border: 3px solid black;
border-radius: 10px;
font-family: ArcadeR;
float:left;
margin-top:50px;
}

input[type=text],input[type=password]{
width: 100%;
height: 40px;
padding: 5px;
margin-bottom: 25px;
margin-top: 5px;
border: 2px solid #ccc;
color: black;
font-size: 16px;
border-radius: 5px;
font-family: ArcadeN;
}


input[type=button]{
font-size: 16px;
background: linear-gradient(#ffbc00 5%, #ffdd7f 100%);
border: 1px solid #e5a900;
color: black;
font-weight: bold;
cursor: pointer;
width: 100%;
border-radius: 5px;
padding: 10px 0;
outline:none;
font-family: ArcadeN;
}

input[type=button]:hover{
background: linear-gradient(#ffdd7f 5%, #ffbc00 100%);
}