@font-face {
    font-family: ArcadeN ;                          
    src: url(../font/ARCADE_N.TTF);               
  }    
  
  @font-face {
    font-family: ArcadeR ;                          
    src: url(../font/ARCADE_N.TTF);               
  }   

  @font-face {
      font-family: ArcadeI;
      src: url(../font/ARCADE_N.TTF);
  }


body header{
    display: flex;
    justify-content: space-between;
}

html {
    font-family: ArcadeR, Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
}

body header h1{
    font-family: ArcadeN, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding: 50px 0 50px 0;
    font-size: 70px;
    cursor: pointer;
}


body header h1 a{
    text-decoration: none;
    color: black;
}


body header div#timer, #score{
    font-family: ArcadeI, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
}

.caseVide {    
    background-color:#6f6f6f;    
    color: #ffffff;    
    border:1px #000000 inset;    
    width:15px;
    height:15px;        
    font-size:15px;
    font-weight:bold;    
    text-align:center;
    vertical-align:middle;
}

.caseClique {    
    background-color:#afafaf;    
    color: #ffffff;    
    border:1px #000000 inset;    
    width:15px;
    height:15px;    
    font-size:15px;
    font-weight:bold;    
    text-align:center;
    vertical-align:middle;
}    


input[type="texte"] {
    border: none;
    text-align: center;
    height: 1.7em;
    padding:0 10px;
    border-radius: 10px;
    font-family: ArcadeR, Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
}

.button {
    border: none;
    background: black;
    color: white;
    text-align: center;
    padding:8px 15px;
    font-size: 0.5em;
    letter-spacing: 2px;
    border-radius: 20px;
    font-family: ArcadeR, Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
}

.input_ro{
    border: none; 
    color:#4573b3; 
    font-size:10px;
    padding:0px;
}

.body{
    color:#000000; 
}

tr, td, table {
    border: none;
}

#tableau {
    background: none !important;
}

.d-flex-center {
    display: flex;
    justify-content: center;
}

.d-flex-center a {
    padding: 5px 19px;
    border-radius: 15px;
    background: rgb(65, 60, 109);
    color: white;
    margin-top: 10px;
}

.nvP {
    font-size: 1.3em;
    padding-bottom: 1.3em;
}
