{% load static%}
<html>

<head>
    <meta charset="utf-8">
    <meta name="author" content="WLSD-IProject">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Démineur pimpé par nos soins">
    <meta name="keywords" content="Genshin Impact, Personnages, Compétences, Builds, Capacités">
    <!--<link rel="shortcut icon" type="image/x-icon" href="img/TabLogo.png">-->
    <title>Démineur</title>
    <link rel="stylesheet" href=" {% static 'css/style.css' %}"> 
    <script src="{% static 'JS/test.js' %}"></script>
</head>
    
<body>
    <form method="POST" class ="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class"save">ok</button>

    </form>

<body>
    <form method="POST" class ="post-form">
        <div class="container">
            <div class="main">
                <h2>SignUp</h2>
                <form id="form_id" method="post" name="myform">
                    <label>UserName :</label>
                    <input type="text" name="username" id="username" />
                    <label>Password :</label>
                    <input type="password" name="password" id="password" />
                    <input type="button" value="Login" id="submit" onclick="validate()" />
                </form>
            </div>
        </div>
</body>

</html>