{% load static%}
<html>

<head>
    <meta charset="utf-8">
    <meta name="author" content="WLSD-IProject">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Démineur pimpé par nos soins">
    <!--<link rel="shortcut icon" type="image/x-icon" href="img/TabLogo.png">-->
    <title>Démineur</title>
    <link rel="stylesheet" href=" {% static 'css/style.css' %}"> 
    
</head>
    

<body onload="ChangeBg()">
    <header>
        <h1>DHEHmineur</h1>
        <label for="menu-cb" class="menu-label">
            <img src="/static/media/navbar.png" alt="">
        </label>
        <input id="menu-cb" type="checkbox" class="menu-cb">
        <nav class="menu-nav">
            <ul>
                <li class="menu-item"><a href="login">Login</a></li>
                <li class="menu-item"><a href="singup">Signup</a></li>
            </ul>
        </nav>
    </header>
    <main>

        <div id="button">
            <div>
                <button class="ModeNormal" onclick="window.location.href = 'NormalMode'" method="Post">Mode Normal</button>
            </div>
            <div>
                <button class="ModeHEH" onclick="window.location.href = 'hehmode'">Mode HEH</button>
            </div>
        </div>
    </main>
    <script src="{% static 'JS/test.js' %}"></script>
</body>

</html>