{% load static%}
<html>

<head>
    <meta charset="utf-8">
    <meta name="author" content="WLSD-IProject">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Démineur pimpé par nos soins">
    <meta name="keywords" content="Genshin Impact, Personnages, Compétences, Builds, Capacités">
    <!--<link rel="shortcut icon" type="image/x-icon" href="img/TabLogo.png">-->
    <title>Démineur</title>
    <link rel="stylesheet" href=" {% static 'css/style.css' %}"> 
    
</head>
    

<body onload="ChangeBg()">
    <header>
        <h1><a href="index.html">DHEHmineur</a></h1>
        <label for="menu-cb" class="menu-label">
            <svg viewBox="0 0 32 32" fill="#666">
                <rect x="0" y="4" rx="3" ry="3" width="32" height="3" />
                <rect x="0" y="14" rx="3" ry="3" width="32" height="3" />
                <rect x="0" y="24" rx="3" ry="3" width="32" height="3" />
            </svg>
        </label>
        <input id="menu-cb" type="checkbox" class="menu-cb">
        <nav class="menu-nav">
            <ul>
                <li class="menu-item"><a href="Login.html">Login</a></li>
                <li class="menu-item"><a href="Signup.html">Signup</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div id="YName">
            <h1>Your name:</h1>
        </div>

        <form action="/your-name/" method="post">
            <div class="pseudo">
                <input type="text" id="YName" name="name" required="Required" minlength="4" maxlength="30"
                    size="20">
            </div>
        </form>

        <div id="button">
            <div>
                <button class="ModeNormal" onclick="window.location.href = 'NormalMode'" method="Post">Mode Normal</button>
            </div>
            <div>
                <button class="ModeHEH" onclick="window.location.href = 'HEHMode'">Mode HEH</button>
            </div>
        </div>
    </main>
    <script src="{% static 'JS/test.js' %}"></script>
</body>

</html>