{% load static%}
<html>

<head>
    <meta charset="utf-8">
    <meta name="author" content="WLSD-IProject">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Démineur pimpé par nos soins">
    <link rel="shortcut icon" type="image/x-icon" href="/static/media/Logo.png">
    <title>Démineur</title>
    <link rel="stylesheet" href=" {% static 'css/singup.css' %}"> 
</head>
    
<body>
    <header>
        <label for="menu-cb" class="menu-label">
            <img src="/static/media/navbar.png" alt="">
        </label>
        <input id="menu-cb" type="checkbox" class="menu-cb">
        <nav class="menu-nav">
            <ul>
                <li class="menu-item"><a href="../">Home</a></li>
            </ul>
        </nav>
    </header>
<body>
        
        <div class="container">
            <div class="main">
                <h2>Login</h2>
                <form method="POST" class ="post-form" id="form_id" name="myform">
                    {% csrf_token %}
                    <label for="" class="label">UserName :</label>
                    <input type="text" name="username" id="username" autocomplete="off" />
                    <label>Password :</label>
                    <input type="password" name="password" id="password" />
                    <button type="submit" class="Login" id="submit"> Login</button>
                    
                </form>
            </div>
        </div>

        <script src="{% static 'JS/test.js' %}"></script>
</body>

</html>